<header>
    <div>
        <h1>Artist Overview</h1>
    </div>
</header>

<section class="artist-gallery">
    <% @artists.each do |artist| %>
    <article class="artist-card">
        <div class="artist-image">
            <h3><%= link_to artist.name, artist_path(artist.id) %></h3>
        </div>
        <div>
            <%= link_to image_tag(artist.picture.image, size: "250x250"), artist_path(artist.id) %>

            <% end %>
        </div>

    </article>

</section>
