<header>
    <div>
        <h1>Artist Overview</h1>
    </div>
</header>

<section class="artist-gallery">
  <% @artists.each do |artist| %>
  <article class="artist-card">
    <div class="artist-image">
      <h3><%= link_to artist.name, artist_path(artist.id) %></h3>
      <p><%= link_to image_tag(artist.img_url, size: "250x250"), artist_path(artist.id) %></p>
      <%=  %>
    </div>


  </article>



  <% end %>

</section>
